body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dayBtn {
  width: 60px;
  height: 60px;
}

.width-60 {
  width: 60px;
}

.font-70 {
  font-size: 70%;
}

.bg-black {
  background-color: black;
}
